.projects-ppal-container{
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 100vw;
    margin-top: 150px;
}
.projects-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
.projects-cards-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    margin: 50px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.project{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    height: 300px;;
    border-radius: 10px;
    box-shadow: 0 0 30px rgba(0,0,0,0.2);
    transition: all 0.3s ease-in-out;
}
.project-img{
    border-radius: 10px;
    height: 140px;
}
.project:hover{
    transform: scale(1.05);
    box-shadow: 0 0 30px rgba(0,0,0,0.5);
}
.project-tittle{
    font-size: 20px;
    font-weight: 600;
    margin: 10px;
}
.p-projects{
    font-size: 10px;
    font-weight: 400;
    padding: 10px 10px;
;
}
.karma{
    margin-top: 10px;
    height: 100%;
    width: 100%;
    object-fit: contain;
}