:root {
  --color-primary: #191919; 
  --color-secondary: #D9D9D9;
}
*{
  font-family: 'Roboto', sans-serif;  
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.main-container{
  background: var(--color-primary); 
  color: var(--color-secondary);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}